<h3>Reset password</h3>

<mat-dialog-content class="box">

    <form [formGroup]="newPasswordForm" (submit)="onSubmit()">

        <div class="box">
            <mat-form-field appearance="fill">
                <mat-label>Current password</mat-label>
                <input type="password" formControlName="currentPassword" matInput required>
                <mat-error *ngIf="newPasswordForm.controls['currentPassword'].hasError('required')">
                    This field is required
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>New password</mat-label>
                <input type="password" formControlName="newPassword" matInput required>
                <mat-error *ngIf="newPasswordForm.controls['newPassword'].hasError('required')">
                    This field is required
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Confirm new password</mat-label>
                <input type="password" formControlName="confirmNewPassword" matInput required>
                <mat-error *ngIf="newPasswordForm.controls['confirmNewPassword'].hasError('required')">
                    This field is required
                </mat-error>
            </mat-form-field>
        </div>
        <button type="submit" mat-raised-button color="primary" [disabled]="!newPasswordForm.valid">Submit</button>
    </form>
</mat-dialog-content>