table {
  border-collapse: collapse;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  width: 100%;
  text-align: left;
}

table thead tr {
  background-color: #673ab7;
  color: #ffffff;
  text-align: left;
}

table th,
table td {
  padding: 12px 15px;
}

.actions {
  display: flex;
}

tbody > tr {
  position: relative;
  transition: background-color 0.3s;
}

tbody > tr:hover {
  background-color: #ddd;
}

button {
  height: 80%;
}

.admin-btns > button {
  margin: 0 5px;
}

.warning {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ddd;
  margin-top: 20px;
}

.scale-icon {
  transform: scale(2);
}

.categories {
  font-size: 12px;
}

.details-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  right: 3%;
  transition: transform 0.15s;
  z-index: 5;
  top: 50%;
  transform: translate(0, -50%);
}

.categories {
  font-size: 12px;
}
